body {
  background-color: e6e2d3;
}

h1 {
  color: black;
  margin-left: 20px;

}

tr {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}

.ex1 {
  font-size: 130px;
}

span {
  color: #53354a;
}

#Differentcolour {
  color: white;
}

table {
  background-color: #b9936c;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
 
}


body{
  text-align: center;
}

table,
th,
td {
  border: 4px solid black;
  border-collapse: collapse;
  text-align: center;
}

